body {
    font-family: 'Poppins', sans-serif;
    background-color: #e9e9e9;
}
.element {
    padding: 7px;
    padding-left: 30px;
    padding-bottom: 40px;
    background-color: #ffffff;
    margin-bottom: 40px;
    margin-top: 40px;
    box-shadow: 8px 8px 11px -14px rgba(66, 68, 90, 1);
    border-radius: 15px;
}
#container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}
h1 {
    font-weight: normal;
    text-align: center;
}
p {
    text-align: center;
}
.element span {
    color: #808080;
}